
@import 'devicon/devicon.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
.skill-hover-effect {
    background: url('https://example.com/star-sparkle.gif') no-repeat center;
    background-size: cover;
    animation: twinkle 2s infinite;
  }
  
  .skill-card:hover .skill-hover-effect {
    display: block;
  }
  
